/* Global CSS variable */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    background-color: var(--cream);
    text-align: left;
    font-size: 14px;
}

.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    border-radius: 330px;
    padding-left: 320px;
}

.product-category {
    margin-top: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: small;
    font-family: Fraunces;
    padding-top: 10px;
}

.p-name {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}

.p-descrip {
    margin-bottom: 5px;
    font-family: "Montserrat";
    font-weight: 500;
}

img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.product-details {
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    height: 450px;
    width: 243px;
    padding-left: 40px;
    padding-right: 35px;
    font-size: 14px;
}

.price{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.new-price {
    color: var(--dark-cyan);
    font-weight: bolder;
    font-size: 30px;
    margin-top: 15px;
}

.old-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    margin-left: 10px;
    font-weight: bold;
    margin-top: 15px;
}

.add-to-cart-btn {
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 40px);
    text-align: center;
    font-family: "Montserrat" ;
}

.add-to-cart-btn i {
    margin-right: 5px;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .product-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

}

@media screen and (min-width: 376px) and (max-width: 1440px)
